body {
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    padding-bottom: 30px;
}

h1 {
    font-size: 55px;
    font-weight: 900px;
    font-style: bold;
    color: rgb(93, 89, 89);
}

.para {
    color: orange;
}

.half-width {
    width: 50%;
    padding-left: 50px;
    padding-top: 30px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 15px 35px;
    padding-top: 10px;
    border-radius: 25px;
}

.top-banner {
    background-image: url(images/shapes/banner.png);
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-left: 70px;
}

.midlle-width {
    width: 50%;
    padding-left: 22%;
}