body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: opx;
}

.Top-section {
    display: flex;
    padding-bottom: 30px;
}

.middle-section {
    display: flex;
    padding-bottom: 30px;
}

h1 {
    font-size: 55px;
    font-weight: 900px;
    font-style: bold;
    color: rgb(93, 89, 89);
}

.para {
    color: orange;
}

.half-width {
    width: 50%;
    padding-left: 50px;
    padding-top: 30px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 700;
    padding: 15px 35px;
    padding-top: 10px;
    border-radius: 25px;
}

.top-banner {
    background-image: url(images/shapes/banner.png);
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-left: 70px;
}

.midlle-width {
    width: 50%;
    padding-left: 22%;
}

.recipie {
    width: 80%;
    margin: 0 auto;
}

.recipie h1 {
    font-size: 2.3rem;
    margin-bottom: 2%;
}

.recipie-content {
    text-align: center;
    width: 62%;
    margin-left: 20%;
    margin-bottom: 5%;
}

.card {
    display: flex;
    margin-bottom: 100px;
}

.card-1 {
    width: 50%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 20px;
    padding: 3%;
    margin-right: 5%;
}

.card-1 img {
    width: 100%;
    border-radius: 20px;
    height: 40vh;
}

.card-2 {
    width: 50%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 20px;
    padding: 3%;
    margin-left: 5%;
}

.card-2 img {
    width: 100%;
    border-radius: 20px;
    height: 40vh;
}

.card h5 {
    margin: 1%;
    font-size: 1.4rem;
}

.card p {
    font-size: 12px;
    margin: 1%;
}

.counter-people {
    width: 80%;
    display: flex;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    text-align: left;
    margin-bottom: 100px;
    border-radius: 20px;
}

.counter-people div {
    padding: 4%;
}

.counter-people h3 {
    font-size: 2rem;
    margin: 0;
}

.peraCount {
    margin: 0;
}

span {
    color: orange;
}

footer {
    width: 100%;
    height: 150px;
    text-align: center;
    background-color: black;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}

h3 {
    color: gray;
}